*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

*.log
*.backup
/build
/composeApp/resources/**/*.so
/composeApp/resources/**/*.dll
/composeApp/resources/**/*.dylib
/baselineprofile/src/main/java/dev/etorix/panoscrobbler/baselineprofile/Secrets.kt
/composeApp/*.json
/androidApp/*.json
/composeApp/src/commonTest/kotlin/dev/etorix/panoscrobbler/AuthTest.kt
/composeApp/src/desktopTest/kotlin/dev/etorix/panoscrobbler/DesktopAuthTests.kt
/dist
androidApp/src/release/generated
androidApp/src/releaseGithub/generated
/composeApp/src/**/composeResources/files/aboutlibraries.json
/composeApp/src/**/composeResources/files/*.md
/composeApp/valkyrie-cli
crowdin.properties
Gemfile.lock
.jekyll-cache
_site/
.vscode/
build-android.sh
build-linux.sh
.venv/
*.jks
*.keystore
*.p12