[Desktop Entry]
Type=Application
Name=Pano Scrobbler ETD
Comment=Feature packed music tracker
StartupWMClass=pano-scrobbler-etd
Exec=pano-scrobbler-etd %U
Icon=pano-scrobbler-etd
Categories=AudioVideo;Audio;
Terminal=false
StartupNotify=true
NoDisplay=false
